---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header>
			<Nav />
		</Header>
		<main>
			<h1>⛓️ Links</h1>
			<h2>相互リンク</h2>
			<a href="https://otsu36.net/"><img src="https://otsu36.net/images/banner.jpg" title="乙第三十六号室" /></a>
			<h2>憧れているサイト</h2>
			<a href="https://tiyu.to"><img src="https://tiyu.to/image/tiyu_bar.gif" alt="ちゆ12歳のバナー" width="300"/></a><br />
			<a href="https://news.ycombinator.com/news">Hacker News</a>
			<h2>このサイトのバナー</h2>
			<a href="https://by-pass.net"><img src="https://i.gyazo.com/f31922d687ca36e3946f58d791ee8dbd.png" alt="BY-PASSのバナー" width="224" /></a>
		</main>
		<Footer />
	</body>
</html>
